body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #FFE4E1;
    color: #333;
    margin: 0;
  }

  header {
    background-color: #FFFAF0;
    color: black;
    padding: 20px;
    text-align: center;
  }

  main {
    max-width: 600px;
    background-color: #FFFAFA;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  h2 {
    text-align: center;
    color: black;
  }

  label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
  }

  input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  .btn {
    background-color: #D8BFD8;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 1em;
  }

  .btn:hover {
    background-color: #DDA0DD;
  }

  .resumen {
    background-color: #FFFAF0;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
  }

  footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
  }

  a {
    color: #DDA0DD;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
